@{
    ViewData["Title"] = "About Us";
}

<div class="navBar">
    <a href="Index" class="navLogo"><img src="~/images/logo.png"></a>
    <div id="navHeader">
        <ul>
            <li><a asp-action="Index">Home</a></li>
            <li><a asp-action="Menu">Menu</a></li>
            <li><a asp-action="PreOrder">Pre-Order</a></li>
            <li><a asp-action="Questions">FAQ</a></li>
            <li class="activeItem"><a asp-action="AboutUs">About Us</a></li>
        </ul>
    </div>
</div>

<div class="container">
    <h2 class="mainText">About Us</h2>
    <div class="frontRow">
        <p>
            Here at Dough Boys we strive to bring you high quality artisan doughnuts. We are very proud of what
            we produce here.  Our doughnuts come from quality ingrediants and from our local community.
        </p>
    </div>

    <div class="frontRow">
        <div class="frontCol">
            <div class="imgContainer"><img id="mapImg" src="~/images/map_location.png" /></div>
        </div>

        <div class="frontCol">
            We are conveniently here at 1 UNF Dr, Jacksonville, FL 32224, this is our first
            location and we hope to expand within the community.  We chose this location because
            it is near the beach and commericial areas. Come and stop by and grab some of our speciality doughnuts.
        </div>
    </div>

    <h2 class="mainText">Mission Statement</h2>
    <div class="frontRow">
        <p>
            DoughBoys is in business to create the structure and systems needed to allow our customers access to the majority of their away-from-home daily meal requirements on a one-stop-shop basis.
            All of our products shall be of the highest quality and value provided with outstanding personal services at the lowest possible prices consistent with a fair return on investment for our
            job enhancement/security for our employees and a level of community involvement by everyone connected with our business. All of our products and services shall be delivered consistently
            and measured one satisfied customer at a time, whether by company-owned or franchised operations, in superior, clean, convenient, fun and friendly neighborhood environments.
            We pledge to make DoughBoys the best place to eat and the best place to work.
        </p>
    </div>
</div>
