
@{
    ViewData["Title"] = "Frequently Asked Questions";
}

<div class="navBar">
    <a href="Index" class="navLogo"><img src="~/images/logo.png"></a>
    <div id="navHeader">
        <ul>
            <li><a asp-action="Index">Home</a></li>
            <li><a asp-action="Menu">Menu</a></li>
            <li><a asp-action="PreOrder">Pre-Order</a></li>
            <li class="activeItem"><a asp-action="Questions">FAQ</a></li>
            <li><a asp-action="AboutUs">About Us</a></li>
        </ul>
    </div>
</div>
<div class="container">
    <h2 class="mainText">Frquently Asked Questions</h2>
    <p>
        What are your business hours?
        <br>
        We are open Monday - Thursday : 7am to 5pm & Friday - Saturday : 7am - 7pm & Sunday : 8am - 2pm
    </p>
    <p>
        What are your doughnuts made from?
        <br>
        Our ingrediants come from locally sourced ingredients, and are rotated frequently for freshness.
    </p>
    <p>
        How can I make a preorder, and after ordering, do I have to remain in waiting line in the shop?
        <br>
        You can click the preorder link in the navigation at the top of our page, And you do not need to wait in the regular line, there is a special area for pickups.
    </p>
    <p>
        Do you guys have Wi-Fi?
        <br>
        Yes we do have free Wi-Fi, we try to let our guests not just eat here but study and meet up as well.
    </p>
</div>

