
@{
    ViewData["Title"] = "Frequently Asked Questions";
}

<div class="navBar">
    <a href="Index" class="navLogo"><img src="~/images/logo.png"></a>
    <div id="navHeader">
        <ul>
            <li><a asp-action="Index">Home</a></li>
            <li><a asp-action="Menu">Menu</a></li>
            <li><a asp-action="PreOrder">Pre-Order</a></li>
            <li class="activeItem"><a asp-action="Questions">FAQ</a></li>
            <li><a asp-action="AboutUs">About Us</a></li>
        </ul>
    </div>
</div>


<div class="confTableContainer">
    <h2 class="mainText">Frquently Asked Questions</h2>
    <hr class="themeHorizontal" />
    <br />
    What are your business hours?
    <br />
    We are open Monday - Thursday : 7am to 5pm & Friday - Saturday : 7am - 7pm & Sunday : 8am - 2pm
    <div class="frontRow">
        <p>
            What are your doughnuts made from?
            <br>
            We use locally sourced and high quality ingredients for all of our doughnuts. In doing so, we hope to create quality, great-tasting doughnuts while also helping to support our community.
        </p>
    </div>
    <div class="frontRow">
        <p>
            How can I preorder my doughnuts?
            <br>
            You can click "Pre-Order" at the top of the page and fill out the following form. You will be able to select a pick up date. Once the order is placed, you can come in on that day between 10:00 am and 3:00 pm to pick up your doughnuts.
            There is a separate line for preorders so you will not need to wait in line.
        </p>
    </div>
    Do you have free Wi-Fi?
    <br />
    Of course! You can come to enjoy some doughnuts, hang out with friends, and study or use the internet as you please.
</div>

